/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0; /* Color de fondo claro */
}

header {
    background-color:  #f1e0ca; /* Color de fondo de la cabecera */
    color: #000000; /* Color de texto de la cabecera */
    padding: 10px 0;
    text-align: center;
}

#inicio h2 {
    font-size: 2em; /* Aumentar el tamaño del texto */
}

#inicio p {
    font-size: 1.5em; /* Aumentar el tamaño del texto */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Color de texto de los enlaces */
    font-weight: bold;
}
nav ul li a img {
    width: 20px;
    height: auto;
}
nav ul li #boton-busqueda {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
nav ul li #boton-busqueda:hover {
    transform: scale(1.1);
}

#campo-busqueda {
    display: none;
    border: none;
    border-bottom: 2px solid #D2B48C; /* Color de borde inicial */
    outline: none;
    font-size: 16px;
    padding: 5px;
    transition: border-bottom-color 0.3s ease; /* Animación de transición */
}

#campo-busqueda::placeholder {
    color: #D2B48C; /* Color del texto de marcador de posición */
}

#barra-busqueda {
    position: relative; /* Establecer posición relativa para el contenedor de la barra de búsqueda */
}

#boton-busqueda span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#boton-busqueda:hover span {
    opacity: 1;
}

main {
    padding: 20px;
}

h2 {
    color: #333; /* Color de los títulos */
}

#herramientas {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #2196F3; /* Color azul de los botones */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1976D2; /* Color azul oscuro al pasar el cursor */
}

#collar-preview {
    margin-top: 20px;
}

/* Animaciones */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInRight {
    animation-name: fadeInRight;
}

.bounceIn {
    animation-name: bounceIn;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/* Nuevos estilos */
.logo {
    width: 350px; /* Tamaño del logo */
    height: auto; /* Espacio alrededor del logo */
}
.logo + h1 {
    display: none;
}

#personalizados {
    background-color: #EFEFEF; /* Color de fondo para la sección de personalizados */
    padding: 20px; /* Espacio interior */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px; /* Centrar horizontalmente el contenido */
}

.personalizados-container {
    display: flex;
    align-items: center; 
    max-width: 70%; /* Alinear elementos verticalmente */
}

.personalizados-container img {
    width: 2000px; /* Ajustar el tamaño según sea necesario */
    height: auto; /* Mantener la proporción de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.personalizados-info {
    flex: 1; 
    max-width: 70%;
    text-align: left;
    font-size: 1.6em; /* Alinear texto a la izquierda */
}

.personalizados-info h3 {
    font-size: 2em;
}

/* Estilos para el rectángulo verde */
.green-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #a7c39c; /* Agregamos el color de fondo */
    width: 85%;
}

/* Estilos para el logo de reciclaje */
.logoreciclaje {
    width: 450px; /* Tamaño aumentado al triple del tamaño inicial de 150px */
    height: auto; /* Mantiene la proporción del logo de reciclaje */
    
}

/* Estilos para el logo de árbol */
.logoarbol {
    width: 450px; /* Tamaño aumentado al triple del tamaño inicial de 150px */
    height: auto; /* Mantiene la proporción del logo de árbol */
    
}

/* Estilos para el logo de regalo */
.logoregalo {
    width: 180px; /* Tamaño ajustado a 150px */
    height: auto; /* Mantiene la proporción del logo de regalo */
    margin-right: 20px; /* Separación entre el logo y el texto */
}

/* Estilos para los elementos dentro del rectángulo verde */
.green-text {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente los elementos */
    text-align: center; /* Centrar el texto */
    font-size: 1.5em;
}



.green-text p {
    margin-right: 100px; /* Aumenta el margen derecho del texto */
}


.green-background h3 {
    margin-bottom: 20px;
}

.green-background p {
    margin-bottom: 10px;
}

/* Estilos para la sección de productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Espacio entre los productos */
    margin-top: 200px;
}

.producto {
    position: relative; /* Establecer posición relativa para el contenedor de producto */
    width: 250px; /* Ancho máximo del contenedor de producto */
    margin: 20px; /* Margen alrededor de cada producto */
    overflow: hidden; /* Ocultar contenido que desborde */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.producto img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    display: block; /* Mostrar la imagen como bloque para ocupar todo el espacio */
    transition: transform 0.3s ease; /* Agregar transición suave */
}

.producto:hover img {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el cursor */
}

.producto .texto-producto {
    position: absolute; /* Establecer posición absoluta para el texto */
    top: 50%; /* Alinear el texto verticalmente en el centro */
    left: 50%; /* Alinear el texto horizontalmente en el centro */
    transform: translate(-50%, -50%); /* Centrar el texto exactamente */
    width: 100%; /* Ancho completo para el texto */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para el texto */
    padding: 10px; /* Relleno alrededor del texto */
    text-align: center; /* Alinear el texto al centro */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
    font-size: 1.5em; /* Tamaño de fuente aumentado */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo de los cards de presentación */
.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #dbf4ff21;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 10px;
}

.blog-post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .8rem;
    display: block;
}

.blog-post_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
}

.blog-post_date span {
    display: block;
    color: #00000080;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color:  #829954;
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #000000b3;
}

.blog-post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: .8rem;
    background-color: #D2B48C; /* Cambia el color de fondo al marrón pastel */
}

.blog-post_cta:hover {
    background-color: #b39c7d; /* Cambia el color de fondo al marrón pastel más oscuro al pasar el cursor */
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post_img {
        min-width: 30rem;
        max-width: 30rem;
    }
    .container h2 {
        margin-top: 120px;
        margin-left: 275px;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }
    .container h2 {
        margin-top: 20px;
        margin-left: 142px;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -1rem);
    }
    .container {
        margin-top: auto;
    }
}

@media screen and (max-width: 823px) {
    .container h2 {
        margin-top: 35px;
        margin-left: 142px;
    }
}

.container {
    max-width: 1200px; /* Establece un ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
}
